# example .env

NODE_ENV=development
EXPRESS_PORT=8201
REDIS_PORT=6379
USE_DOCKER=true
MONGODB_USER="admin"
MONGODB_PASS="password"
MONGO_DBNAME="DBName"
MONGODB_URI_DOCKER="mongodb://admin:password@mongodb/DBName"

MONGODB_URI_LOCAL="mongodb://localhost:27017/DBName"
# note useAtlasDB and USE_DOCKER can't be true at thesame time
useAtlasDB=false
MONGODB_URI_ATLAS="url of your cloud.mongodb.com db instance"

# for heroku deployment add heruku's redis to go uri
#REDIS_CLOUD_URL = "redis to go url"
